/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/storage/logs/*.log
/src/vendor
/src/.env
!/src/.env.testing
/src/.env.backup
/src/.phpunit.result.cache
/src/docker-compose.override.yml
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/.idea
/src/.vscode
/docker/mysql/data
/docker/mysql/logs/
!docker/mysql/data/.gitkeep
.DS_Store
