.purchase{
    display: flex;
    justify-content: space-between;
    margin: 70px 65px;
}

.purchase__heading{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #000000;
    width: 805px;
}
.purchase__image{
    width: 177.53px;
    height: 177.53px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.purchase__title{
    margin-top: 0;
}
.purchase__price-yen{
    font-size: 27px;
}
.purchase__price-value{
    font-size: 32px;
    border: none;
}

.purchase__info{
    width: 805px;
    border-bottom: 1px solid #000000;
    padding: 30px;
}
.purchase__info-title{
    font-size: 20px;
}
.purchase__info-select{
    width: 365px;
    height: 31px;
    color: #5F5F5F;
    border: 1px solid #5F5F5F;
    margin: 15px 0 20px 50px;
}

.purchase__info-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purchase__info-link{
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
}
.purchase__info-detail{
    margin-bottom: 20px;
    margin-left: 50px;
}
.purchase__info-address span{
    font-size: 20px;
    font-weight: 600;
    margin: 3px;
}
.purchase__info-input{
    font-size: 20px;
    font-weight: 600;
    margin: 3px;
    border: none;
}

.purchase__summary{
    width: 440px;
}
.purchase__table{
    width: 100%;
    border: 1px solid #000000;
    margin-bottom: 50px;
}
.purchase__table-row{
    border-bottom: 1px solid #000000;
}
.purchase__table-header{
    font-weight: 400;
    font-size: 20px;
    padding: 30px;
}
.purchase__table-item{
    font-size: 28px;
    padding: 30px;
}
.purchase__table-item span{
    font-size: 24px;
}

.purchase__sidebar-button{
    width: 100%;
    background: #FF5555;
    border: none;
    border-radius: 4px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    cursor: pointer;
}

.form__error {
    margin-left: 50px;
    color: #FF0000;
}
